html {
  font-size: 16px; /* standard base */
}
body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  min-height: 80vh;
  color:rgb(10, 10, 10);
}
.page-container {
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  background: rgba(233, 235, 236, 0.95);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 400px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}
p {
  font-size: 0.95rem;
}
.input-group {
  margin-bottom: 15px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.2s;
}

input:focus {
  outline: none;
  border-color: #2196f3;
}

.btn {
  width: 50%;
  padding: 0.7rem 1.2rem;
  font-size: 0.9rem;
  border-radius: 10px;
  border: none;
  
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

.btn-primary {
  background: #2196f3;
  color: white;
}

.btn-primary:hover {
  background: #1976d2;
}

.btn-success {
  background: #4caf50;
  color: white;
}

.btn-success:hover {
  background: #388e3c;
}

.btn-danger {
  background: #f44336;
  color: white;
}

.btn-danger:hover {
  background: #d32f2f;
}

.status-badge {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  display: inline-block;
}

.status-searching {
  background: #ff9800;
  color: white;
}

.status-ready {
  background: #4caf50;
  color: white;
}
.group-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.group-header {
  text-align: center;
  margin-bottom: 25px;
}

.group-header h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.group-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}

.group-card {
  flex: 1;
  padding: 20px;
  background: #f9fafb;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
@media (max-width: 480px) {
  .card {
    padding: 1.8rem;
    max-width: 95%;
  }

  .navbar {
    padding: 0 15px;
  }
}
/* Floating Card Animation */
@keyframes floatCard {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-card {
  animation: floatCard 4s ease-in-out infinite;
}
.page-fade {
  animation: fadeInPage 0.5s ease-in-out;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}